body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 14px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
  max-width: 280px;
}
img {
  max-width: 100%;
}
/*Fonts*/
@font-face {
  font-family: h1Family;
  src: url(Fonts/TCCEB.TTF);
}
.fontTCCEB {
  font-family: h1Family;
}
.fontSize18 {
  font-size: 1.3em;
}
.fontSize30 {
  font-size: 2.2em;
}
/*Margins*/
.marginRight10 {
  margin-right: 10px;
}
.marginTop50 {
  margin-top: 50px;
}
.marginTop50s {
  margin-top: 50px;
}
/*Paddings*/
.paddingBottom20 {
  padding-bottom: 20px;
}
.padding15 {
  padding: 15px;
}
/*Background colors*/
.bgColorBlue {
  background-color: #0b2025;
}
/*Font colors*/
.redChar {
  color: red;
}
.colorWhite {
  color: white;
}
.colorBlue {
  color: #2e6da4;
}
.colorRed {
  color: red;
}
.colorDarkBlue {
  color: #24475E;
}
.colorGlyphicon {
  color: #FBFDFC;
  text-shadow: 2px 0 0 #0b2025, -2px 0 0 #0b2025, 0 2px 0 #0b2025, 0 -2px 0 #0b2025, 1px 1px #0b2025, -1px -1px 0 #0b2025, 1px -1px 0 #0b2025, -1px 1px 0 #0b2025;
}
.slogan {
  font-family: h1Family;
  font-size: 5em;
  color: white;
}
.noBorder {
  border-color: #0b2025;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
#registerLink,
#loginLink,
#loggedUser,
#logOutUser {
  padding: 10px;
  margin-top: 10px;
}
#loginLink:hover {
  background-color: #4cae4c;
  border-color: #4cae4c;
}
#registerLink:hover {
  background-color: #2e6da4;
  border-color: #2e6da4;
}
#loggedUser:hover {
  background-color: #4cae4c;
  border-color: #4cae4c;
}
#logOutUser:hover {
  background-color: #d43f3a;
}
.row-signup {
  background: #2a3944 url('/Content/img/row-signup.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.trial-signup a {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  color: #2594be;
  text-transform: uppercase;
  padding: 13px 46px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eeeeee));
  background-image: -o-linear-gradient(bottom, #ffffff 0%, #eeeeee 100%);
  background-image: -moz-linear-gradient(bottom, #ffffff 0%, #eeeeee 100%);
  background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #eeeeee 100%);
  background-image: -ms-linear-gradient(bottom, #ffffff 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
}
.newsletter-area {
  padding-right: 40px;
}
.newsletter {
  position: relative;
}
.newsletter input[type="email"] {
  display: block;
  width: 100%;
  background: #FFFFFF;
  border: none;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-style: italic;
  padding-left: 15px;
  padding-right: 66px;
}
.newsletter button {
  height: 36px;
  line-height: 36px;
  width: 50px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-weight: bold;
  border: none;
  background: #FFFFFF;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.newsletter:hover button {
  background: #1A8FB1;
  color: #FFFFFF;
}
.footerWrapper {
  background-color: #efefef;
  padding-top: 25px;
}
.override-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.no-center {
  text-align: initial;
}
.row-copyright {
  border-top: 1px solid #d8d8d8;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 10px;
  color: #a1a1a1;
  text-transform: uppercase;
}
.row-copyright .terms {
  text-align: right;
}
.row-copyright .terms a {
  color: #a1a1a1;
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  color: black;
}
/*Media queris*/
@media (min-width: 251px) and (max-width: 300px) {
  body {
    font-size: 14px;
  }
  .slogan {
    font-size: 1.5em;
    margin-top: 60px;
  }
  #registerLink,
  #loggedUser {
    margin-right: 0;
  }
  .trial-signup a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding: 15px;
    font-size: 1.5em;
    font-size: 2em;
    border-radius: 15px;
    margin-top: 15px;
  }
  footer {
    text-align: center;
  }
  .thumbnail {
    border: none;
  }
  .mPadding10 {
    padding-top: 20px;
  }
  .fontSize30 {
    font-size: 2.1em;
  }
  .mobileMarginTop20 {
    margin-top: 20px;
  }
  .marginTop50s {
    margin-top: 0;
  }
}
@media (min-width: 301px) and (max-width: 350px) {
  body {
    font-size: 14px;
  }
  .slogan {
    font-size: 3em;
    margin-top: 60px;
  }
  #registerLink,
  #loggedUser {
    margin-right: 0;
  }
  .trial-signup a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding: 15px;
    font-size: 2em;
    border-radius: 15px;
    margin-top: 15px;
  }
  footer {
    text-align: center;
  }
  .thumbnail {
    border: none;
  }
  .mPadding10 {
    padding-top: 20px;
  }
  .fontSize30 {
    font-size: 2.1em;
  }
  .mobileMarginTop20 {
    margin-top: 20px;
  }
  .marginTop50s {
    margin-top: 0;
  }
}
@media (min-width: 351px) and (max-width: 400px) {
  body {
    font-size: 14px;
  }
  .slogan {
    font-size: 2.5em;
    margin-top: 10px;
  }
  #registerLink,
  #loggedUser {
    margin-right: 0;
  }
  .trial-signup a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding: 15px;
    font-size: 2em;
    border-radius: 15px;
    margin-top: 15px;
  }
  footer {
    text-align: center;
  }
  .newsletter-area {
    padding-right: 0;
    margin-bottom: 15px;
  }
  .thumbnail {
    border: none;
  }
  .mPadding10 {
    padding-top: 20px;
  }
  .fontSize30 {
    font-size: 2.1em;
  }
  .mobileMarginTop20 {
    margin-top: 20px;
  }
  .marginTop50s {
    margin-top: 0;
  }
}
@media (min-width: 401px) and (max-width: 450px) {
  body {
    font-size: 14px;
  }
  .slogan {
    font-size: 2.6em;
  }
  footer {
    text-align: center;
  }
  #registerLink,
  #loggedUser {
    margin-right: 0;
  }
  .trial-signup a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding: 15px;
    font-size: 2em;
    border-radius: 15px;
    margin-top: 15px;
  }
  .newsletter-area {
    padding-right: 0;
    margin-bottom: 15px;
  }
  .thumbnail {
    border: none;
  }
  .mPadding10 {
    padding-top: 20px;
  }
  .fontSize30 {
    font-size: 2.1em;
  }
  .mobileMarginTop20 {
    margin-top: 20px;
  }
  .marginTop50s {
    margin-top: 0;
  }
}
@media (min-width: 451px) and (max-width: 500px) {
  body {
    font-size: 14px;
  }
  .slogan {
    font-size: 3em;
  }
  footer {
    text-align: center;
  }
  #registerLink,
  #loggedUser {
    margin-right: 0;
  }
  .trial-signup a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding: 15px;
    font-size: 2em;
    border-radius: 15px;
    margin-top: 15px;
  }
  .thumbnail {
    border: none;
  }
  .mPadding10 {
    padding-top: 20px;
  }
  .fontSize30 {
    font-size: 2.1em;
  }
  .mobileMarginTop20 {
    margin-top: 20px;
  }
  .marginTop50s {
    margin-top: 0;
  }
}
@media (min-width: 501px) and (max-width: 550px) {
  body {
    font-size: 14px;
  }
  .slogan {
    font-size: 3.6em;
  }
  footer {
    text-align: center;
  }
  #registerLink,
  #loggedUser {
    margin-right: 0;
  }
  .trial-signup a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding: 15px;
    font-size: 2em;
    border-radius: 15px;
    margin-top: 15px;
  }
  .thumbnail {
    border: none;
  }
  .mPadding10 {
    padding-top: 20px;
  }
  .fontSize30 {
    font-size: 2.1em;
  }
  .mobileMarginTop20 {
    margin-top: 20px;
  }
  .marginTop50s {
    margin-top: 0;
  }
}
@media (min-width: 551px) and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .slogan {
    font-size: 4.1em;
  }
  footer {
    text-align: center;
  }
  #registerLink,
  #loggedUser {
    margin-right: 0;
  }
  .trial-signup a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding: 15px;
    font-size: 2em;
    border-radius: 15px;
    margin-top: 15px;
  }
  .thumbnail {
    border: none;
  }
  .mPadding10 {
    padding-top: 20px;
  }
  .fontSize30 {
    font-size: 2.1em;
  }
  .mobileMarginTop20 {
    margin-top: 20px;
  }
  .marginTop50s {
    margin-top: 0;
  }
}
@media (min-width: 601px) and (max-width: 650px) {
  body {
    font-size: 14px;
  }
  .slogan {
    font-size: 4.5em;
  }
  footer {
    text-align: center;
  }
  #registerLink,
  #loggedUser {
    margin-right: 0;
  }
  .trial-signup a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding: 15px;
    font-size: 2em;
    border-radius: 15px;
    margin-top: 15px;
  }
  .thumbnail {
    border: none;
  }
  .mPadding10 {
    padding-top: 20px;
  }
  .fontSize30 {
    font-size: 2.1em;
  }
  .mobileMarginTop20 {
    margin-top: 20px;
  }
  .marginTop50s {
    margin-top: 0;
  }
}
@media (min-width: 651px) and (max-width: 700px) {
  body {
    font-size: 14px;
  }
  .slogan {
    font-size: 4.8em;
  }
  footer {
    text-align: center;
  }
  #registerLink,
  #logOutUser {
    margin-right: 0;
  }
  .trial-signup a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding: 15px;
    font-size: 2em;
    border-radius: 15px;
    margin-top: 15px;
  }
  .thumbnail {
    border: none;
  }
  .mPadding10 {
    padding-top: 20px;
  }
  .fontSize30 {
    font-size: 2.1em;
  }
  .mobileMarginTop20 {
    margin-top: 20px;
  }
  .marginTop50s {
    margin-top: 0;
  }
}
@media (min-width: 1080px) {
  .row-signup {
    background-size: 120% auto;
  }
}
