@model IEnumerable<DataCleansing.Web.ViewModels.BicCodeEuropeViewModels>

@{
    ViewBag.Title = "Home Page";
}


@foreach(var mod in Model)
{
    <div class="warning">
        @mod.BankCode <br />
        @mod.BankOrInstitution
    </div>
}
